html,
body {
  background-color: #2f2e2e;
  color: #ffffff;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  text-align: center;
}

link {
  margin: auto;
  text-align: center;
}

.title,
.nav {
  text-align: center;
}

.loading {
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

#app {
  height: 100vh;
}
.appContainer {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
.image-placeholder {
  font-weight: 900;
  border-radius: 75px;
  border-color: chocolate;
}

.formContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.alert-list,
.alert-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

#link {
  text-decoration-line: none;
}

.alerts {
  color: red;
  font-size: x-large;
}

p {
  font-size:x-large;
  margin: 10px, 10px, 10px, 10px;
  text-align: center;
  display: flex;
  flex-basis: auto;
  border: #2f2e2e;
  color: rgba(255, 66, 66, 0.953);
}

 

Button {
  margin: auto;
  text-align: center;
  color: aliceblue;
  display: block;
  margin-top: 9vh;
}

.background {background-image: var(--bs-bg-dark-bg-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  --bs-bg-opacity: 1;
  color: aliceblue;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important
}

.header {
  color: #ff5b5b;
  margin-top: 7vh;
}